.group:hover .group-hover\:animate-arrow,
.animate-arrow {
  animation: arrow-move 0.8s infinite;
}

@keyframes arrow-move {
  0%, 100% {
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(40%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.group:hover .group-hover\:animate-underline,
.animate-underline {
  animation: underline 0.3s forwards;
}

@keyframes underline {
  0% {
    width: 0;
    animation-timing-function: cubic-bezier(0.3, 0, 1, 1);
  }
  100% {
    width: 100%;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}