.group:hover .group-hover\:animate-hide-to-left,
.animate-hide-to-left {
  animation: table-hide-to-left 0.3s forwards;
}

@keyframes table-hide-to-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-40%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.group:hover .group-hover\:animate-hide-to-right,
.animate-hide-to-right {
  animation: table-hide-to-right 0.3s forwards;
}

@keyframes table-hide-to-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(40%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.group:hover .group-hover\:animate-show-to-left,
.animate-show-to-left {
  animation: table-show-to-left 0.3s forwards;
}

@keyframes table-show-to-left {
  0% {
    opacity: 0;
    transform: translateX(40%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.group:hover .group-hover\:animate-show-to-right,
.animate-show-to-right {
  animation: table-show-to-right 0.3s forwards;
}

@keyframes table-show-to-right {
  0% {
    opacity: 0;
    transform: translateX(-40%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.group:hover .group-hover\:animate-from-top,
.animate-from-top {
  animation: table-from-top 0.3s forwards;
}

@keyframes table-from-top {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0, 0.8, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0, 0.8, 1, 1);
  }
}

.group:hover .group-hover\:animate-to-bottom,
.animate-to-bottom {
  animation: table-to-bottom 0.3s forwards;
}

@keyframes table-to-bottom {
  0% {
    opacity: 1;
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0, 0.8, 1, 1);
  }
  100% {
    opacity: 0;
    transform: translateY(40%);
    animation-timing-function: cubic-bezier(0, 0.8, 1, 1);
  }
}

.group:hover .group-hover\:animate-underline,
.animate-underline {
  animation: underline 0.3s forwards;
}

@keyframes underline {
  0% {
    width: 0;
    animation-timing-function: cubic-bezier(0.3, 0, 1, 1);
  }
  100% {
    width: 100%;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.group:hover .group-hover\:animate-show-text,
.animate-show-text {
  animation: animate-show-text 0.3s forwards;
}

@keyframes animate-show-text {
  0% {
    height: 0;
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0, 0.3, 1, 1);
  }
  100% {
    height: auto;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.3, 0.2, 1);
  }
}

.group:hover .group-hover\:animate-hide-text,
.animate-hide-text {
  animation: animate-hide-text 0.3s forwards;
}

@keyframes animate-hide-text {
  0% {
    height: auto;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.3, 1, 1);
  }
  100% {
    height: 0;
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0, 0.3, 0.2, 1);
  }
}