@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ED2891;
  --primary-hover-color: #F53891;
  --primary-active-color: #E23891;
  --secondary-color: #0E3179;
  --text-primary-color: #19191E;
  --text-secondary-color: #ffffff;
  --button-color: #CF3339;
  --button-hover-color: #E13739;
  --button-active-color: #BB3239;
}

body {
  background: #ffffff;
}

body,
nav {
  max-width: 2400px;
  margin: auto;
}

.bg-primary,
#bg-primary,
.button-primary {
  background-color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--primary-hover-color);
}

.button-primary:active {
  background-color: var(--primary-active-color);
}

.font-primary,
#font-primary {
  color: var(--primary-color);
}

.fill-primary {
  fill: var(--primary-color);
}

.bg-secondary,
#bg-secondary {
  background-color: var(--secondary-color);
}

.font-secondary,
#font-secondary {
  color: var(--secondary-color);
}

.fill-secondary {
  fill: var(--secondary-color);
}

.font-black,
#font-black {
  color: var(--text-primary-color);
}

.font-white,
#font-white {
  color: var(--text-secondary-color);
}

.button-cta {
  background-color: var(--button-color);
}

.button-cta:hover {
  background-color: var(--button-hover-color);
}

.button-cta:focus,
.button-cta:active {
  background-color: var(--button-active-color);
}

.border-primary:hover {
  border-color: var(--primary-hover-color);
}

.border-primary:active,
.border-primary:focus {
  border-color: var(--primary-active-color);
}

input[type='checkbox'] {
  width: 30px;
  height: 30px;
}

video::-webkit-media-controls { display:none !important; }
video::-webkit-media-controls-enclosure { display:none !important; }
video::-webkit-media-controls-panel { display:none !important; }