.menu-button-container {
  display: flex;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button.white,
.menu-button.white::before,
.menu-button.white::after {
  background-color:#ffffff;
}

.menu-button.blue,
.menu-button.blue::before,
.menu-button.blue::after {
  background-color:#0E3179;
}

#menu-toggle:checked + .menu-button-container>.menu-button.blue::after,
#menu-toggle:checked + .menu-button-container>.menu-button.blue::before {
  background-color: #ffffff !important;
}

.menu-button::before {
  content: '';
  margin-top: -6px;
}

.menu-button::after {
  content: '';
  margin-top: 6px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}